@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}

aside {
  background-color: black;
  padding: 10px;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: aliceblue;
  overflow-y: auto;
}
/* Styles for links */
a {
  color: #333;
  text-decoration: none;
  list-style: none;
}
a:hover {
  color: #ff6633;
}
/* Styles for main content */
main {
  padding: 20px;
  margin-left: 30%;
  display: block;
  width: 90%;
}
h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  font-size: 24px;
  margin-top: 20px;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.flex { 
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.box{
  max-width: 95%;
  margin: auto;
}
.mg-t{
  margin-top: 1.9em;
}
header {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  margin-left: 25%;
  color: white;

}
nav{
  display: grid;
  padding: .7em;
}
.link{
  border: 1px solid white;
  padding: .9em;
  width:11em;
  color: grey;
  height:4em;
}
.container {
  width: 85%;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.453);
  overflow: auto;
  height: 40em;
  /* border: 1px solid deeppink; */
  padding: 2em;
  border-radius: 5px;
  color:yellow;
}
span{
  font-weight: 900;
  font-size: 1.8em;
}
span:hover{
  padding: .9em;
  color: deepskyblue;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.box li{
  
  padding: .7em;
  list-style: none;
}
.box li:hover{
  border-bottom: 1px solid deepskyblue;
  border-radius: 9px;
  padding: .9em;
  color: deepskyblue;
  list-style: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: #000;
  height: 3em;
  color: #fff;
  border: 1px solid deeppink;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 5px;
}
.btn:hover{
  color: deeppink;
  border: 1px solid #fff;
}
.btn:focus {
  outline: none;
  color: yellow;
  border-color: yellow;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
table{
  width:15em;

  border: 1px solid transparent;
  border-radius: 9px;
  box-shadow: 0 1px 19px;
  padding: 1.2em .1em;

}
th{
  padding: 6px .9rem;
  margin-bottom: .6em;
  color:deepskyblue;
}
td{
  padding: 6px .9rem;
  margin-bottom: .6em;
}
td:hover{
  color:deepskyblue;
  padding: 7px .8rem;
 letter-spacing: 2px;

}
.link{
  color: deepskyblue;
  
  margin: .6em ;
  padding: 1.0em;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: .5em;
  box-shadow: 0 1px 19px;

  
}
.tabs{
  
  color: black;
  width: 100%;
  margin: .6em ;
  padding: 1.1em;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  letter-spacing: 3px;
  border: 2.2px solid black;
  border-radius: .1em;
  box-shadow: 0 1px 19px;

}
Link:hover{
  cursor: pointer;
  color: #ff6633;
}
/* Form Styling */
.form-control {
  width: 100%;
  margin-top: 1em;
}
.alert{
  color: red;
  font-size: 20px;
  font-weight: bold;
}
form{
  margin: auto;
  width:40em;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 9px;
  border: .7px solid whitesmoke;
  border-radius: 8px;
  padding: 1.5em;
  background-color: #000;
  color:whitesmoke;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.form-control input:hover{
  border: .7px solid deepskyblue;
  padding: 1.8em;
  color: deepskyblue;
}
.form-control input::placeholder{
  color: deepskyblue;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}
img {
	width:13em;
	height: 18em;
	border: 3px solid orange;
	border-radius: .4em;

}
img:hover{
	width:14em;
	height: 19em;
	border: 3px solid black;
	border-radius: 1em;

}
.brd{
  border: 1.5px solid black;
  border-radius: 5px;
  box-shadow: 0 1px 19px;
  padding: .3em;
}